<div>
  <div id="myDIV" class="header">
    <h2 style="margin:5px">My To Do List</h2>
    <div style="display: flex;">
      <input #newItem type="text" placeholder="Title..." (keyup)="this.newValue=newItem.value" [value]="this.newValue">
      <span class="addBtn" (click)="addItem(newItem.value)">Add</span>
    </div>
  </div>
  
  <ul id="myUL">
    <app-todo-item *ngFor="let todoitem of todos; index as i" [name]="todoitem" (elementDeleted)="onElementDeleted($event)"
    ></app-todo-item>
  </ul>
</div>

